<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="5fc2ee54-0502-4658-9d90-165b82b4b874" Publisher="CN=Jacob Reimers" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Linq2Rest.Reactive.WinRT.Sample</DisplayName>
    <PublisherDisplayName>Jacob Reimers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Linq2Rest.Reactive.WinRT.Sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Linq2Rest.Reactive.WinRT.Sample.App">
      <m2:VisualElements DisplayName="Linq2Rest.Reactive.WinRT.Sample" Description="Linq2Rest.Reactive.WinRT.Sample" BackgroundColor="#222222" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>